{% for post in paginator.posts  %}
<div class="blog-post">
  <h2 class="blog-post-title">{{ post.title }}</h2>
  <p class="blog-post-meta">{% include id-date.html date=post.date %} oleh {{ site.data.authors[post.author].name }}</p>
  {{ post.excerpt }}
  <p><a href="{{ post.url }}">Lanjut membaca</a></p>
</div>
{% endfor %}

<nav class="blog-pagination">
  Halaman: {{ paginator.page }} dari {{ paginator.total_pages }}<br>
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="btn btn-outline-primary previous">
      Sebelumnya
    </a>
  {% else %}
    <span class="btn btn-outline-secondary disabled previous">Sebelumnya</span>
  {% endif %}
  <span class="page_number ">
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="btn btn-outline-primary next">Selanjutnya</a>
  {% else %}
    <span class="btn btn-outline-secondary disabled next">Selanjutnya</span>
  {% endif %}
</nav>