<aside class="col-md-4 blog-sidebar">
  <div class="p-3 mb-3 bg-light rounded">
    <h4 class="font-italic">Tentang Kelas Kehidupan</h4>
    <p>
      Kelas Kehidupan adalah <a href="https://en.wikipedia.org/wiki/Educational_consultant">konsultan pendidikan</a>. Dibentuk untuk membantu sekolah, guru, dan orang tua, menyiapkan generasi penerus dengan metode-metode terbaik &amp; terkini.
    </p>
    <p>
      Pelajari lebih lanjut di <a href="{{site.url}}">halaman depan</a>.
    </p>
    <p>
      Kontak kami di <a href="mailto:halo.kelaskehidupan@gmail.com">halo.kelaskehidupan@gmail.com</a>.
    </p>
  </div>

  <div class="p-3">
    <h4 class="font-italic">Arsip Semua Tulisan</h4>
    <ol class="list-unstyled">
      <li><a href="{{ site.url }}/untuk-orang-tua">Untuk Orang Tua</a></li>
      <li><a href="{{ site.url }}/untuk-guru">Untuk Guru</a></li>
    </ol>
  </div>

  <div class="p-3">
    <h4 class="font-italic">Jangan Sampai Ketinggalan Kabar</h4>
    <ol class="list-unstyled">
      <li><a href="https://www.youtube.com/channel/UCRUYyCLbJqn7NFJLeCcnB9w">Youtube</a></li>
      <li><a href="https://instagram.com/kelaskehidupandotcom">Instagram</a></li>
      <li><a href="https://twitter.com/kelaskehidupan_">Twitter</a></li>
      <li><a href="https://web.facebook.com/groups/340625779917856/">Facebook</a></li>
      <li><a href="https://chat.whatsapp.com/Lo1BtskkwRfDrNToHUD4Nc">Grup Whatsapp</a> (konsultasi gratis)</li>
    </ol>
  </div>

</aside><!-- /.blog-sidebar -->
