<aside class="col-md-4 blog-sidebar">
  <div class="p-3 mb-3 bg-light rounded">
    <h4 class="font-italic">Tentang Kelas Kehidupan</h4>
    <p>
      Kelas Kehidupan adalah organisasi konsultan pendidikan. Dibentuk untuk membantu sekolah, guru, dan orang tua, menyiapkan generasi penerus dengan metode-metode terbaik &amp; terkini.
    </p>

    <span><strong>Nurul Bahirah</strong></span>
    <p>
      Nurul Bahirah adalah seorang pelatih guru (teacher trainer). Sebelumnya, Nurul pernah menjadi guru SD di Payabakung Aceh Utara, guru Bahasa Inggris di Rumah Belajar Yayasan Cinta Anak Bangsa & Roshan Learning Centre. Lulusan program studi Ilmu Kesejahteraan Sosial UI ini hobi berdiskusi tentang pendidikan dan cara memasak makanan enak.
    </p>

    <span><strong>Rizky Syaiful</strong></span>
    <p>
      Sehari-hari Rizky adalah pelatih ketangkasan organisasi (agile coach). Klien-klien dia banyak yang mengeluhkan kurangnnya SDM yang proaktif & berkesadaran diri tinggi (<em>self-aware</em>).
    </p>

  </div>

  <div class="p-3">
    <h4 class="font-italic">Archives</h4>
    <ol class="list-unstyled mb-0">
      <li><a href="#">March 2014</a></li>
      <li><a href="#">February 2014</a></li>
      <li><a href="#">January 2014</a></li>
      <li><a href="#">December 2013</a></li>
      <li><a href="#">November 2013</a></li>
      <li><a href="#">October 2013</a></li>
      <li><a href="#">September 2013</a></li>
      <li><a href="#">August 2013</a></li>
      <li><a href="#">July 2013</a></li>
      <li><a href="#">June 2013</a></li>
      <li><a href="#">May 2013</a></li>
      <li><a href="#">April 2013</a></li>
    </ol>
  </div>

  <div class="p-3">
    <h4 class="font-italic">Elsewhere</h4>
    <ol class="list-unstyled">
      <li><a href="#">GitHub</a></li>
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Facebook</a></li>
    </ol>
  </div>
</aside><!-- /.blog-sidebar -->
