---
layout: default
---

<main role="main" class="container">
  <div class="row">

    <div class="col-md-8 blog-main">
      <h2 class="blog-post-title">{{ page.title }}</h2>
      <p class="blog-post-meta">{% include id-date.html date=page.date %} oleh {{ site.data.authors[page.author].name }}</p>
      <hr class="after-title">
      <p><em class="text-muted">{{page.goal}}</em></p>
      {{content}}
      <hr class="end-of-post">
      <h2>Komentar</h2>
      {% if site.disqus.shortname %}
        {% include disqus_comments.html %}
      {% endif %}
    </div>

    {% include sidebar.html %}

  </div>

</main>
